[Unit]
Description=Hourly alarm for standing or sitting at desk

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send "Stand/Sit Alarm" "Time to Stand or Sit" --urgency=normal
ExecStart=/usr/bin/mpv /home/devious/.config/systemd/user/bingo-alarm.wav
